requests
docopt
python-dateutil
pytz
yagmail
pprintpp
deprecated
concurrent-log-handler
pymongo
Flask
pywebview
openpyxl
lxml
bs4
hdbcli
notebook
ipykernel
jupyter_contrib_nbextensions
numpy
matplotlib
